# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master, '*.*' ]
    paths-ignore:
      - '.github/**'
      - '.idea/**'
      - '.run/**'
  pull_request:
    branches: [ master, '*.*' ]
    paths-ignore:
      - '.github/**'
      - '.idea/**'
      - '.run/**'

env:
  SPARK_LOCAL_IP: 127.0.0.1

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Build with Maven
        run: mvn -B --no-transfer-progress package --file pom.xml -Dsurefire.skipAfterFailureCount=1
