name: Build Java Project

on:
  push:
    branches: [ master, '*.*' ]
    paths-ignore:
      - '.github/**'
      - '.idea/**'
      - '.run/**'
  pull_request:
    branches: [ master, '*.*' ]
    paths-ignore:
      - '.github/**'
      - '.idea/**'
      - '.run/**'

env:
  SPARK_LOCAL_IP: 127.0.0.1

jobs:
  check-code-formatting:
    name: Check Code Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'maven'
      - name: Check Code Formatting
        run: mvn spotless:check

  build-java-project-json-format:
    name: Build-Test (Json Format)
    runs-on: ubuntu-latest
    needs: check-code-formatting
    env:
      DEBEZIUM_FORMAT_VALUE: json
      DEBEZIUM_FORMAT_KEY: json
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'maven'
      - name: Build with Maven
        run: mvn -B --no-transfer-progress package --file pom.xml -Dsurefire.skipAfterFailureCount=1


  build-java-project-connect-format:
    name: Build-Test (Connect Format)
    runs-on: ubuntu-latest
    needs: build-java-project-json-format
    env:
      DEBEZIUM_FORMAT_VALUE: connect
      DEBEZIUM_FORMAT_KEY: connect
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'maven'
      - name: Build with Maven (Connect Format)
        run: mvn -B --no-transfer-progress package --file pom.xml -Dsurefire.skipAfterFailureCount=1
