name: Create Release

on:
  push:
    tags: [ '*.*.*.*' ]
    branches: [ master ]

env:
  SPARK_LOCAL_IP: 127.0.0.1

jobs:
  build:
    name: Main
    if: github.repository_owner == 'memiiso'
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v2

      - name: Set env for master(latest) release
        if: github.ref_name == 'master'
        run: |
          echo "RELEASE_NAME=latest" >> $GITHUB_ENV

      - name: Set env for release
        if: github.ref_name != 'master'
        run: |
          echo "RELEASE_NAME=${{ github.ref_name }}" >> $GITHUB_ENV

      - name: Build project
        run: mvn -B package -Passembly --file pom.xml -Drevision=${{ env.RELEASE_NAME }}

      - name: Delete previous ${{ env.RELEASE_NAME }} release
        uses: dev-drprasad/delete-tag-and-release@v1.0
        with:
          delete_release: "true" # default: false
          tag_name: ${{ env.RELEASE_NAME }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Release
        id: create_release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: Release ${{ env.RELEASE_NAME }}
          tag_name: ${{ env.RELEASE_NAME }}
          body: Release ${{ env.RELEASE_NAME }}
          draft: "false"
          prerelease: "false"

          files: |
            debezium-server-iceberg-sink/target/debezium-server-iceberg-sink-${{ env.RELEASE_NAME }}.jar
            debezium-server-iceberg-dist/target/debezium-server-iceberg-dist-${{ env.RELEASE_NAME }}.zip

      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v4
        name: Build & push Docker image
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/debezium-server-iceberg:${{ env.RELEASE_NAME }}

      - name: Delete all containers from repository without tags
        uses: dylanratcliffe/delete-untagged-containers@main
        with:
          package_name: debezium-server-iceberg
          token: ${{ secrets.GITHUB_TOKEN }}
